################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SlnProjetDotnet
/.vs/ProjectEvaluation
/.vs
/SlnProjetDotnet.sln
/ProjetDotnet.Server.Data/obj/ProjetDotnet.Server.Data.csproj.nuget.g.props
/ProjetDotnet.Server.Data/obj/ProjetDotnet.Server.Data.csproj.nuget.dgspec.json
/ProjetDotnet.Server.Data/obj/project.nuget.cache
/ProjetDotnet.Server.Data/obj/project.assets.json
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.sourcelink.json
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.pdb
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.genruntimeconfig.cache
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.GeneratedMSBuildEditorConfig.editorconfig
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.dll
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.csproj.FileListAbsolute.txt
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.csproj.CoreCompileInputs.cache
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.AssemblyInfo.cs
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.csproj.AssemblyReference.cache
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.assets.cache
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ProjetDotnet.Server.Data.AssemblyInfoInputs.cache
/ProjetDotnet.Server.Data/obj/Debug/net8.0/refint/ProjetDotnet.Server.Data.dll
/ProjetDotnet.Server.Data/obj/Debug/net8.0/ref/ProjetDotnet.Server.Data.dll
/ProjetDotnet.Server.Data/bin/Debug/net8.0/ProjetDotnet.Server.Data.pdb
/ProjetDotnet.Server.Data/bin/Debug/net8.0/ProjetDotnet.Server.Data.dll
*.xml
/ProjetDotnet.Enregistrement/obj/ProjetDotnet.Enregistrement.csproj.nuget.g.props
/ProjetDotnet.Enregistrement/obj/ProjetDotnet.Enregistrement.csproj.nuget.dgspec.json
/ProjetDotnet.Enregistrement/obj/project.nuget.cache
/ProjetDotnet.Enregistrement/obj/project.assets.json
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.sourcelink.json
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.pdb
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.genruntimeconfig.cache
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.GeneratedMSBuildEditorConfig.editorconfig
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.dll
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.csproj.FileListAbsolute.txt
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.csproj.CoreCompileInputs.cache
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.csproj.AssemblyReference.cache
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.assets.cache
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.AssemblyInfoInputs.cache
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ProjetDotnet.Enregistrement.AssemblyInfo.cs
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/apphost.exe
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/refint/ProjetDotnet.Enregistrement.dll
/ProjetDotnet.Enregistrement/obj/Debug/net8.0/ref/ProjetDotnet.Enregistrement.dll
/ProjetDotnet.Enregistrement/bin/Debug/net8.0/ProjetDotnet.Server.Data.pdb
/ProjetDotnet.Enregistrement/bin/Debug/net8.0/ProjetDotnet.Server.Data.dll
/ProjetDotnet.Enregistrement/bin/Debug/net8.0/ProjetDotnet.Enregistrement.pdb
/ProjetDotnet.Enregistrement/bin/Debug/net8.0/ProjetDotnet.Enregistrement.exe
/ProjetDotnet.Enregistrement/bin/Debug/net8.0/ProjetDotnet.Enregistrement.dll
*./bin/*
/ProjetDotnet.Generation/Import/*
/ProjetDotnet.Server.API/Exports/*
/ProjetDotnet.Client.App/Json
